

<p>Hello from ePetfolio</p>
<p>You have been invited to join <%= @requestor_email %>'s Family & Friends network on ePetfolio</p>


<br />
<%= link_to "Accept ePetfolio Invitation", "#{root_url}friendsfamily/#{@invitation.email}/#{@invitation.verify_email_token}" %>
<br /><br />

