
<p>Hello from ePetfolio</p>
<p>You have been invited to join the ePetfolio Family & Friends network of <%= @requestor_email %></p>

<br />
<!-- < %= link_to "Accept ePetfolio Invitation", "http://192.168.1.80:3000/friendsfamily/#{@invitation.verify_email_token}" %> -->

<%= link_to "Accept ePetfolio Invitation", "#{root_url}friendsfamily/#{@invitation.verify_email_token}" %>
<br /><br />


