
<p>Thanks for considering ePetfolio!</p>

<p>This email verification step is important for protecting you and your pet's information.</p>

<p><%= link_to "Click here to continue by choosing a password", new_user_url(:id => @signup.verify_email_token) %></p>


<br />
<br />
<p>If you did not request to use ePetfolio, please ignore this email.</p>
