
<p class="splash_jewel_description">Ways to reach me with pet updates:
    <ul><li>personal email / work email</li>
        <li>mobile phone 1 / mobile phone 2</li>
        <li>address / second home address</li>
        <li>preferences</li>
        <li>privacy level</li>
        <li>current timezone (frequent travellers)</li>
    </ul>
</p>