
<!-- <div class="row">
    <div class="span8">Doggie Report Cards < %= link_to "See All Report Cards", "/dogwalks"%>
        <div class="row">
            < % 4.times do |x| %>
                <div class="span2 splash_report_card" id="report_card_< %= x %>">Report Card < %= x %></div>
            < % end %>
        </div>
    </div>
</div> -->

