
<!--  
  https://s3.amazonaws.com/epetfolio/uploads/petphotos/861F897A-43F2-41AF-AAD6-B55BA324E7A3-20120926105814.jpg

  https://s3.amazonaws.com/epetfolio/uploads/sample/00.png
-->

<% s3 = "https://s3.amazonaws.com/epetfolio/uploads/sample/" %>
<ul class="gallery">
	<% @photos.each do |pic| %>
	    <li><a href="<%=s3%><%=pic%>" rel="external"><img src="<%=s3%><%=pic%>" /></a></li>
	<% end %>
</ul>

