<ul data-role="listview" id="mypetslistview">
	<li data-role="list-divider">My Pets</li>
    <% @person.caretakers.each do |ct| %>
        <% if ct.primary_role.eql?('Owner') %>
	        <li><a href="#pet" class="petDetailsLink" id="<%= ct.pet.id %>"><%=ct.pet.name %></a></li>
	    <% end %>
    <% end %>
    <li> </li>   <!-- spacer -->

	<li data-role="list-divider">Family & Friend Pets</li>
    <% @person.caretakers.each do |ct| %>
        <% if ['Family', 'Friend', 'Other', ''].include?(ct.primary_role) %>
	        <li><a href="#pet" class="petDetailsLink" id="<%= ct.pet.id %>"><%=ct.pet.name %></a></li>
	    <% end %>
    <% end %>
    <li> </li>   <!-- spacer -->
</ul>




