<div data-role="content">
	<div class="row dwguide">
		<div class="span4">
			<div class="row">
				<div class="btn-group pull-right">
				  <button class="btn btn-large icon-chevron-left" id="adwsg_prev"></button>
				  <button class="btn btn-large icon-home" id="adwsg_menu"></button>
				  <button class="btn btn-large icon-chevron-right" id="adwsg_next"></button>
				</div>
				<div id="adwsg_counter" style="display:none;">1</div>
            </div>
            <br />
			<div class="row">
	            <div id="">
		           <img src="https://s3.amazonaws.com/epetfolio/uploads/dogwalker-guide/1.png" id="avoid_dogwalker_scams_guide" >
	            </div>
            </div>
			<div class="row">
				google ad goes here
			</div>
        </div>
    </div>
    <hr />
    <div class="row" id="splash-body-two">
        <div class="span2">&nbsp;
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        iPhone App
            <a href="#"><%= image_tag "apple-app-store-badge.jpeg" %></a>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        Android App
            <a href="#"><%= image_tag "google-play-badge.png" %></a>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        Blackberry App
            <a href="#"><%= image_tag "BlackBerry-AppWorldBadge.jpg" %></a>
        </div>

    </div>
</div>  <!-- data-role="content" -->

