
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker16"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">17</button>
				  <%= link_to page_path("dogwalker18"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Fit Into the Pack</h2>
			<p>Sometimes a Great Dane and a Chihuahua get along &mdash; sometimes they don't.<br /><br />
				Fitting into the pack is important.<br /><br />
				<ul><li><strong>Small / Toy</strong> breed: might need a "small dogs only" group</li><br />
					<li><strong>Pampered Pooch / Show Dog</strong>: very small group with just same breed or litter</li><br />
					<li><strong>High Energy</strong> breed: terriers, spaniels, herding dogs, working dogs</li>
				</ul>

			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
