<script type="text/javascript"><!--
google_ad_client = "ca-pub-5475641087852533";
/* web-dwg3 */
google_ad_slot = "1690408836";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>

<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker2"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">3</button>				
				  <%= link_to page_path("dogwalker4"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Your Dog Needs Exercise</h2>
			<p>Ask a trainer about a dog's bad behavior and your likely to hear:</p>
			<br />
            <table class="table table-striped table-bordered">
	            <tr><th>Dog Problem</th><th>Trainer's First Question</th></tr>
	            <tr><td>Chew's on couch/shoes</td><td>How much are you exercising the dog?</td></tr>
	            <tr><td>Barks too much</td><td>How much are you exercising the dog?</td></tr>
	            <tr><td>Jumps on people</td><td>How much are you exercising the dog?</td></tr>
	            <tr><td>Too aggressive</td><td>How much are you exercising the dog?</td></tr>	        
            </table>
            <br />
            <p>Exercise won't fix all the dog's problem, but it's a great start.</p>
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
