<script type="text/javascript"><!--
google_ad_client = "ca-pub-5475641087852533";
/* web-dwg21 */
google_ad_slot = "2608738836";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>

<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker20"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">21</button>
				  <%= link_to page_path("dogwalker22"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Insurance Coverage</h2>
			<p>Dogs and life are unpredictable.  How much risk can you accept?  How much insurance is needed?<br /><br />
				<ul><li>Little or none because I have a rainy day fund for pet emergencies</li><br />
					<li>Need basic protections &mdash; may be covered by home owner policy</li><br />
					<li>High net worth family &mdash; need max coverage to protect assets</li><br />
				</ul>				
            Ask your dog walker if they are "Bonded &amp; Insured."<br /><br />
            Review the liability section of your home owner's insurance policy.
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
