
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker17"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">18</button>
				  <%= link_to page_path("dogwalker19"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Walks Per Day</h2>
			<p>Assume the dog owner walks the dog before and after work.  How long is the work day?<br /><br />
				One Dog Walk (enough for most dogs)<br /><br />
				Two Dog Walks<br /><br />
				Quite a few owners choose to have their dog walked twice - mid morning and late afternoon.
				Some folks work a 12 hour shift (nurse, fireman) or have a long commute. 
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
