
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker24"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">25</button>
				  <%= link_to page_path("dogwalker26"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Bad Weather</h2>
			<p>When it's raining, our dog will barely leave the front porch.<br /><br />
				Some dogs are scared of thunder and lightening.<br /><br />
				In warmer climates, it can get too hot to walk the dog.<br /><br />
				Agree with your dog walker on a modified schedule if it is too hot.<br /><br />
				Be clear about what "too hot" means.  Bulldogs are notoriously heat sensitive.
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
