
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker14"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">15</button>
				  <%= link_to page_path("dogwalker16"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Dog's Activity Level Needs</h2>
			<p>Every breed is different &mdash; some need more exercise than others.<br /><br />
				Increasing levels of activity:
				<ul><li>Just let the dog go pee/poo</li>
					<li>Casual stroll around the block</li>
					<li>Power walk</li>
					<li>Off leash, free play in a dog park</li>
					<li>Jog or run with the dog</li>
					<li>Behavior training</li>
				</ul>				
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
