
<div class="span7">
    <div class="row-fluid">
		<div class="pull-right btn-group ">
		  <button class="btn disabled"><i class="icon-chevron-left"></i> Previous</button>
		  <!-- < %= link_to page_path("dogwalker27"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous< % end %> -->
		  <button class="btn disabled dw_guide_page_number">1</button>
		  <%= link_to page_path("dogwalker2"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
		</div>
	    <!-- <h3>ePetfolio's Guide To Dog Walkers</h3> -->
	</div>
	<br />
	<div class="hero-unit center coverpage">
		<h1>Avoid Scams</h1>
		<h3>ePetfolio's Guide to Dog Walkers</h3><br/><br/>
		<%= image_tag "gimp-dachshund-logo.png" %>
        <br/><br/>
		<h3>How To Avoid Dog Walkers That Lie, Cheat & Steal</h3>
	</div>

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
