<script type="text/javascript"><!--
google_ad_client = "ca-pub-5475641087852533";
/* web-dwg12 */
google_ad_slot = "7318140037";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>

<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker11"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">12</button>
				  <%= link_to page_path("dogwalker13"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Doggie Report Card</h2>
			<p>The ePetfolio Doggie Report Card gives you a photo of the dog during<br />
			   the dog walk, the time, the date and the exact location plotted on a map.<br /><br />
			   Hard to fool the camera.<br /><br />
			   GPS Satellites don't lie.<br /><br />
			   And you know if the dog went pee and poo.  All Good To Know!!
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
