<script type="text/javascript"><!--
google_ad_client = "ca-pub-5475641087852533";
/* web-dwg5 */
google_ad_slot = "4643875233";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>

<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker4"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">5</button>
				  <%= link_to page_path("dogwalker6"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>You Need To Relax</h2>
			<p>Knowing that the dog is OK, helps you relax.<br /><br /> 
			   Have a meeting with a person that worried about their dog?<br />
			   Don't bother &mdash; nothing productive will get done.<br /><br />
               When you relax, creativity happens, serendipity happens, love<br />
               happens &mdash; work gets done, to-do-lists get checked off.<br />
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
