
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker5"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">6</button>
				  <%= link_to page_path("dogwalker7"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Get Squared Away</h2>
			<p>Your career, your family and your home can all be affected by your dog walker.<br /><br />
			   Your need the right dog walker for you.<br /><br />
			   And you need <u>relationship guidelines</u> for your dog walker.<br /><br />
			   Let's get to it...
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
