
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker10"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">11</button>
				  <%= link_to page_path("dogwalker12"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Doggie Report Card Basics</h2>
			<p>When your dog is healthy, these things are just good to know.  When you suspect 
				your dog is not well, the quality of pee, poo and water drinking becomes vital!</p>
			<%= image_tag "dogwalker11.png"%>
			<br /><br />
			<p>By the way, this image is from the dog's profile info - the pet owner takes this picture.
				Each ePetfolio Doggie Report Card contains two photos: 1. the dog's profile photo and 
				2. the dog walk photo. 
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
