
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker1"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">2</button>
				  <%= link_to page_path("dogwalker3"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />

			<h2>Who has keys to your home?</h2>
			<h3>Who has keys to where you rest your soul?</h3>
			<h3>Who know when you are away from home?</h3>
			<br />
	        <strong>Answers:</strong>
	        <ol>
		        <li>Your Family</li>
		        <li>Your Closest Friends</li>
		        <li>Your Dog Walker</li>
		    </ol>
		    <h3>This relationship is <u>that</u> important!</h3>

		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
