
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker7"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">8</button>
				  <%= link_to page_path("dogwalker9"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Don't Get Cheated - part 1</h2>
			<p>We have found one foolproof way to avoid the lying and cheating dog walker.<br /><br />
				The ePetfolio app allows the dog walker to take a picture of the dog during the dog walk.<br /><br />
				The dog walk photo is included in the <strong>Doggie Report Card</strong>.
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
