
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker22"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">23</button>
				  <%= link_to page_path("dogwalker24"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Pick Up &amp; Drop Off</h2>
			<p>If your dog is walked in a group, is it OK to leave the dogs tied up outside to a mailbox or lamp post?
				What happens when the dog walker goes inside to get a dog?<br /><br />
				Some dog walkers work in pairs so that the pack is always supervised.<br /><br />
				Let your dog walker know if you prefer that they have an assistant &mdash; so your
				dog is always supervised.<br />
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
