
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker23"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">24</button>
				  <%= link_to page_path("dogwalker25"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>In Case of Emergency</h2>
			<p>Make sure your dog walker knows:<br /><br />
				<ul><li>Your dog's veterinarian</li><br />
					<li>The nearest veterinary emergency room or 24 hour vet hospital</li><br />
					<li>If you have pet health insurance</li><br />
					<li>An emergency phone number for spouse, partner or other doggie parent</li><br />
				</ul>
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2" style="width:120px;height:600px;background-color:#eeeeee;">Google Ads</div>
