
<div class="span7">
    <div class="row-fluid">
		<!-- <div class="hero-unit"> -->
		<div class="dwguide-content">
		    <div class="row-fluid">
				<div class="pull-right btn-group ">
				  <%= link_to page_path("dogwalker25"), :class => "btn" do %><i class="icon-chevron-left"></i> Previous<% end %>
				  <button class="btn disabled dw_guide_page_number">26</button>
				  <%= link_to page_path("dogwalker27"), :class => "btn" do %>Next <i class="icon-chevron-right"></i><% end %>
				</div>
			    <h3>ePetfolio's Guide To Dog Walkers</h3>
			</div>
			<hr />
			<h2>Payday</h2>
			<p>There are no millionaire dog walkers &mdash; pay them on time!<br /><br />
				Some dog walkers get into trouble because they love dogs so much that they overlook the dog owner's shortcomings.
				Hard to fault a person for putting a dog before a paycheck &mdash; bad business but good karma.<br /><br />
				If you are on a tight budget, dump cable tv before you get rid of the dog walker.
			</p>
			<br />
		</div>
    </div><!--row-->

</div><!--/span-->

<div class="span2"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
