

<p>Thanks for trying to accept the ePetfolio Family &amp; Friends invite, but there was a problem.</p>

<p>Please accept the invitation from your smartphone (or other mobile device).</p>

<p>For example, if you have an iPhone or a Blackberry phone, view the invitation from your phone's email inbox.
	And click the "Accept Invite" link from the phone...</p>


<br />
<b>Note 1:</b>
<p>ePetfolio's apps run on mobile devices like the iPhone, Blackberry or any smartphone running Android. However, our software has determined that you are accepting the invitation from a laptop or desktop computer.</p>

<br />
<b>Note 2:</b>
<p>Before you accept the invitation, the ePetfolio app must be installed on your smartphone (or other mobile device).</p>
<br />

<br />
<%= link_to "ePetfolio Home Page", "http://www.epetfolio.com" %>
<br />



	
	
	