
<% if @dogwalks.length > 0 %>

	<ul data-role="listview" data-inset="true" id="report_card_list">
		<% @dogwalks.each do |d| %>
			<li><a href="dogwalk_view.html" id="<%=d.id%>" class="dogwalkDetailsLink"> 
				<!-- < %= d.id %>< %= d.pet.name %> < %= d.start.localtime.strftime("%a %b %d %I:%M %Z") %> -->
				<%= d.pet.name %> <%= d.start.localtime.strftime("%a %b %d") %>
			</a></li>
		<% end %>
	</ul>

<% else %>

	<ul data-role="listview" data-inset="true" id="report_card_list">
		<li><a href="#dw_report_card_sample1">Sample Report Card</a></li>
	</ul>

<% end %>